MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=abbas
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=for_rnd
MYSQL_CHARSET=utf8mb4

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TIMEOUT_SEC=2.5

FOR_RND_WEB_HOST=127.0.0.1
FOR_RND_WEB_PORT=8000
UVICORN_RELOAD=0

FOR_RND_ONLINE_WINDOW_SEC=90
FOR_RND_DISCOVERY_TTL_SEC=90
FOR_RND_DEVICE_TCP_PORT=5000
FOR_RND_UDP_DISCOVERY_PORT=4210

ABBAS_DEVICE_HEARTBEAT_SEC=30
ABBAS_DEVICE_TELEMETRY_SEC=60
ABBAS_DEVICE_SUBSCRIPTION_SYNC_SEC=600
ABBAS_DEVICE_REGISTER_REFRESH_SEC=21600

ABBAS_ENABLE_LAN_DISCOVERY=0
ABBAS_ENABLE_DIRECT_DEVICE_TCP=0
ABBAS_ALLOW_AUTO_PROVISION=0
